<!DOCTYPE html>

<html >
  <head>
    <meta charset="utf-8">
    <title>Welcome to Food Stock!</title>
  </head>
  <body>
      <div>
        <form class="login" action="{{url_for('logged_in')}}" method="post">
        <input type="text" name="username" placeholder="insert your username">
        <input type="password" name="password" placeholder="insert your password">
        <button  >OK</button>

        </form>
        <a href="{{url_for('create_acc')}}">Create account</a>

      </div>
  </body>
</html>
